<header>
	<div class="wrap">
		<a class="link-logo" href="#/" ng-click="openMenu=false">
			<img id="logo" src="img/ficticia-videos-logo.png" alt="Fictícia Vídeos">
		</a>
		
		<div id="menubar">
			<div id="menu">
				<div class="bt-menu" ng-click="openMenu=!openMenu" ng-class="{'active':openMenu}"><span>Menu </span><span class="ico"></span></div>
				<ul class="submenu" ng-show="openMenu">
					<li class="menu-destaque">
						<a href="#/destaques" ng-click="openMenu=false"><i class="ico ico-destaques"></i> <i>Destaques</i></a>
					</li>
					<li class="menu-videos">
						<a href="#/videos" ng-click="openMenu=false"><i class="ico ico-videos"></i> <i>Vídeos</i></a>
					</li>
				</ul>
			</div>
			<div class="busca">
				<div class="bt-busca" ng-class="{'active':layout.activeBusca}">
					<input ng-readonly="!layout.activeBusca" id="input-busca" ng-blur="layout.activeBusca=false" type="text" ng-model="layout.query" ng-change="layout.search()">
					<span class="ico" ng-click="layout.setActiveBusca()"></span>
				</div>
			</div>
			
		</div>
	</div>
</header>