<section class="destaque content">
	<div class="wrap">

		<div class="wrap-inner">

			<div class="em-destaque">
				<h1 class="titulo" ng-bind="destaque.emdestaque.titulo"></h1>
				<div class="video-destaque">
					<iframe ng-src="{{destaque.videoDestaque.id | youtubeEmbed}}" frameborder="0" allowfullscreen></iframe>
				</div>

				<div class="card-video-destaque">
					<div class="box" ng-class="{'active':showDesc}">
						<div>
							<div class="viewsdate">
								<span class='inline bt-ico-views' data-tipped-options="inline: 'inline-tooltip-views'"></span>
								<div class="tooltp" id='inline-tooltip-views' style='display:none' 
								ng-bind="destaque.videoDestaque.statistics.viewCount | fNum"></div>
								<span class='inline bt-ico-date' data-tipped-options="inline: 'inline-tooltip-date'"></span>
								<div class="tooltp" id='inline-tooltip-date' style='display:none' 
								ng-bind="destaque.videoDestaque.snippet.publishedAt | amDateFormat:'DD MMMM YYYY' | fdate"></div>
							</div>
							<h3 class="titulo-video-destaque" ng-class="{'active':showDesc}" ng-click="showDesc = !showDesc" 
							ng-bind="destaque.videoDestaque.snippet.title"></h3>
							<div class="desc-video-destaque" ng-class="{'active':showDesc}" ng-click="showDesc = !showDesc"
							ng-bind="destaque.videoDestaque.snippet.description"></div>
						</div>
					</div>
				</div>

			</div>
			
			<div class="mais-videos-sidebar">
				<h1 class="titulo" ng-bind="destaque.maisvideos.titulo"></h1>
				<div class="box">
					<div>
						<div class="scroll" ng-class="{'active':destaque.videos.length > 4}">
							<div class="scroller">
								<ul class="mais-videos vlist">
									<li ng-repeat="video in destaque.videos | filter:destaque.query">
										<div class="wrap-img" ng-class="{'active':destaque.videoDestaque == video}" ng-click="destaque.videoDestaque = video">
											<img ng-src="{{video.snippet.thumbnails.medium.url}}" alt="{{video.snippet.title}}">
											<div class="duration" ng-bind="video.contentDetails.duration | ptTime"></div>
										</div>
										<div class="desc-video">
											<h3 class="titulo-video" ng-click="destaque.videoDestaque = video" 
											ng-bind="video.snippet.title | cut:false:50:'...'"></h3>
											<div class="views">
												<span class="bt-ico-views"></span>
												<span ng-bind="video.statistics.viewCount | kFormatter"></span>
												<span> views </span>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="content-button">
							<button ng-click="destaque.maisVideos();destaque.loading=true" class="wide-button">Carregar mais vídeos...</button>
							<div class="loader" ng-class="{'active':destaque.loading}"></div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="clear-all"></div>
	</div>
</section>