<section class="videos content">
	<div class="wrap">

		<div class="wrap-inner">
			<h1 class="titulo" ng-bind="videos.titulo"></h1>
			<ul class="lista-videos vlist">
				<li ng-repeat="video in videos.videos | filter:videos.query">
					<div class="wrap-img" ng-click="videos.videoModal = video">
						<img ng-src="{{video.snippet.thumbnails.medium.url}}" alt="{{video.snippet.title}}">
						<div class="duration" ng-bind="video.contentDetails.duration | ptTime"></div>
					</div>
					<div class="desc-video">
						<h3 class="titulo-video" ng-click="videos.videoModal = video" 
						ng-bind="video.snippet.title | cut:false:50:'...'"></h3>
						<div class="views">
							<span class="bt-ico-views"></span>
							<span ng-bind="video.statistics.viewCount | kFormatter"></span>
							<span> views </span>
						</div>
					</div>
				</li>
				<div class="clear"></div>
			</ul>
			
			<div class="content-button">
				<button ng-click="videos.maisVideos();" class="wide-button">Carregar mais vídeos...</button>
				<div class="loader" ng-class="{'active':videos.loading}"></div>
			</div>
			
			<div class="clear-all"></div>
		</div>
	</div>
	<div id="video-modal" class="box modal" ng-show="videos.videoModal">
		<div class="barra-modal"><div class="bt-fecha-modal" ng-click="videos.videoModal = null"></div></div>
		<div class="content-modal">
			<div class="if-video-modal">
				<iframe ng-src="{{videos.videoModal.id | youtubeEmbed}}" frameborder="0" allowfullscreen></iframe>
			</div>
			<div>
				<div class="viewsdate">
					<span class='inline bt-ico-views' data-tipped-options="inline: 'inline-tooltip-views'"></span>
					<div class="tooltp" id='inline-tooltip-views' style='display:none' 
					ng-bind="videos.videoModal.statistics.viewCount | fNum"></div>
					<span class='inline bt-ico-date' data-tipped-options="inline: 'inline-tooltip-date'"></span>
					<div class="tooltp" id='inline-tooltip-date' style='display:none' 
					ng-bind="videos.videoModal.snippet.publishedAt | amDateFormat:'DD MMMM YYYY' | fdate"></div>
				</div>
				<h3 class="titulo-modal" ng-bind="videos.videoModal.snippet.title"></h3>
			</div>
			<div class="desc-modal"  ng-bind="videos.videoModal.snippet.description"></div>
		</div>
	</div>
	<div class="overlay" ng-show="videos.videoModal"></div>
</section>