@import 'susy';
@import 'breakpoint';
@import 'vars';
@import 'mixins';

$susy: (
  /* Tells Susy to use 12 columns */
  columns: 10,
  /* Tells Susy that the container has a max-width of 1120px */
  container: $container,
  /* Tells Susy to use border-box */
  global-box-sizing: border-box 
);