.destaque {
	.em-destaque {
	  	@include span(10); 
	  	.video-destaque {
			position: relative;
			width: 100%;
			height: 0;
			padding-bottom: 54%;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			background-color: #000;
			img, iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
	  	}
	}

	/* Tells Susy there's 4 columns in the sidebar, and its the last item on the row. */
	.mais-videos-sidebar {
		@include span(10);
		// @include breakpoint($wrap-up) {
		// 	@include span(4 last);
		// }
		.box {
			height: 0;
			padding-bottom: 134%;
			overflow: hidden;
		}
		.box > div {
			// margin: 15px;
			// margin-bottom: 15px;
			margin: 4%;
		}
		.scroll {
			height: 0;
			padding-bottom: 126%;
			overflow: hidden;
			position: relative;
			&.active {
				width: 103%;
				.scroller {
					overflow-y: scroll;
					padding-right: 1%;
				}
			}
			.scroller {
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				position: absolute;
			}
		}
		.mais-videos {
			// overflow: hidden;
			width: 96%;
			
		}
	} 
	.card-video-destaque {
		margin-top: 4%;
		.box {
			height: 0;
			padding-bottom: 29.8%;
			// overflow: hidden;
			&.active {
				height: auto;
				padding-bottom: 0;
			}
		}
		.box > div {
			margin: 15px 15px 10px 15px;
		}
		.titulo-video-destaque {
			font-weight: normal;
			line-height: 1.2em;
			height: 1.2em;
			overflow: hidden;
			font-size: 1.3em;
			color: $cor-padrao;
			margin: 0 0 3% 0;
			cursor: pointer;
			&.active {
				height: auto;
			}
		}
		.desc-video-destaque {
			height: 0;
			padding-bottom: 18%;
			position: relative;
			overflow: hidden;
			cursor: pointer;
			&.active {
				height: auto;
				padding-bottom: 0;
				&:before {
					display: none;
				}
			}
			&:before {
				content: "";
				position: absolute;
				// background-color: rgba(255, 255, 255, 0.4);
				width: 100%;
				height: 100%;
				background: -moz-linear-gradient(top,  rgba(255,255,255,0.45) 0%, rgba(255,255,255,1) 100%);
				background: -webkit-linear-gradient(top,  rgba(255,255,255,0.45) 0%,rgba(255,255,255,1) 100%);
				background: linear-gradient(to bottom,  rgba(255,255,255,0.45) 0%,rgba(255,255,255,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73ffffff', endColorstr='#ffffff',GradientType=0 );

			}
		}
	}
}