header {
	z-index: 21;
}
#menubar {
	float: right;
	width: 50%;
}
#menubar {
	.busca {
		float: right;
		width: 58%;
	}

}
.modal {
	position: fixed;
	z-index: 20;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
}
