body {
	margin: 0;
	font-family: 'Titillium Web', sans-serif;
	font-size: 14px;
}
*::selection { background-color: $cor-padrao; color: #FFF;}
header *::selection { background-color: #77203C; color: #FFF;}

header {
	background-color: $cor-padrao;
	color: #FFF;
	position: relative;
	z-index: 18;
	.wrap {
		padding-top: 8px;
		padding-bottom: 8px;
	}
}

.wrap {
	@include container;
	padding-left: 15px;
	padding-right: 15px;
}

.wrap-inner {}

.clear-all {
	clear: both;
	margin-bottom: 20px;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

h1.titulo {
	font-size: 2.5em;
	color: $cor-padrao;
	font-weight: 300;
}

.box {
	border: 1px solid #C8C8C8;
	box-sizing: border-box;
}

.box > div {
	margin: 12px;
}

.bt-ico-views,
.bt-ico-date {
	width: 24px;
	height: 24px;
	background-image: url('../img/assets.png');
	background-repeat: no-repeat;
	display: inline-block;
	margin: 0 2px;
}

.bt-ico-date {
	background-position: -25px 0;
}

.tooltp {
	font-weight: 400;
}
.link-logo {
    max-width: 50%;
    display: inline-block;
	img {
		max-width: 100%;
	}
}
#menubar {
	width: 100%;
	& > div {
		margin-left: 1em;
		display: inline-block;
		vertical-align: middle;
	}
	.busca {
		float: right;
		width: 65%;
	}
	.bt-busca .ico, .bt-menu .ico {
		width: 24px;
		height: 24px;
		background-image: url('../img/assets.png');
		background-repeat: no-repeat;
		display: inline-block;
		margin: 0 2px;
	}
	.bt-busca {
		border: 1px solid transparent;
		border-radius: 4px;
		position: relative;
		padding: .3em .2em .3em .4em;
		&.active {
			border-color: #FFF;
			background: rgba(0, 0, 0, 0.1);
		}
		#input-busca, .ico {
			display: inline-block;
			vertical-align: middle;
		}
		#input-busca {
			width: 100%;
			padding-right: 30px;
			box-sizing: border-box;
			background: transparent;
			border: none;
			outline: none;
			margin-left: .2em;
			color: #FFF;
			font-weight: 200;
			font-size: 15px;
			font-family: 'Titillium Web', sans-serif;
			&::selection { background-color: #77203C; }
		}
		.ico {
			background-position: -72px -24px;
			cursor: pointer;
			position: absolute;
			right: 0;
			top: 50%;
			margin-top: -12px;
		}
	}
	.bt-menu {
		height: 35px;
		line-height: 32px;
		cursor: pointer;
		&.active {
			opacity: 0.65;
		}
		span {
			display: inline-block;
			vertical-align: middle;
		}
		.ico {
			background-position: -48px 0;
		}
	}
	#menu {
		position: relative;
		float: right;
	}
	.submenu {
		position: absolute;
		background-color: #FFF;
		border: 1px solid #C8C8C8;
		border-radius: 6px;
		color: #555;
		padding: .5em;
		top: 43px;
		right: -6px;
		width: 160px;
		&:before {
			content: "";
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 9px 10px 9px;
			border-color: transparent transparent #ffffff transparent;
			position: absolute;
		    top: -10px;
		    right: 10px;
		}
		.ico-destaques, .ico-videos {
			width: 24px;
			height: 24px;
			background-image: url('../img/assets.png');
			background-repeat: no-repeat;
			display: inline-block;
			margin: 0 2px;
		}
		.ico-destaques {
			background-position: -48px -24px;
		}
		.ico-videos {
			background-position: -72px 0;
		}
		li {
			a {	
				padding: 0 .5em;
				display: block;
				line-height: 2.5em;
				border-radius: 6px;
				i {
					font-style: normal;
					display: inline-block;
					vertical-align: middle;
				}
				&:hover {
					background-color: #EEE;
				}
			}
		}
	}
}

.vlist {
	li {
		list-style: none;
		overflow: hidden;
		margin: 0 0 6% 0;
		position: relative;
		&:last-child {
			margin-bottom: 0;
		}
		.wrap-img {
			@include span(5);
			position: relative;
			overflow: hidden;
			cursor: pointer;
			&.active:before {
				display: none;
			}
			&:hover:before {
				display: none;
			}
			&:before {
				content: "";
				background-color: rgba(255, 255, 255, 0.3);
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				z-index: 2;
			}
			img {
				max-width: 100%;
				float: left;	
			}
		}
		.duration {
			position: absolute;
			bottom: 0;
			right: 0;
			background: rgba(0,0,0,0.7);
			color: #FFF;
			padding: .2em .5em;
			font-size: 10px;
		}
		.desc-video {
			@include span(5 last);
			.titulo-video {
				font-weight: normal;
				line-height: 1.2em;
				color: $cor-padrao;
				margin: 0 0 5px 0;
				max-height: 3.6em;
				overflow: hidden;
				font-size: 1.17em;
				cursor: pointer;
				&:hover {
					text-decoration: underline;
				}
				@include breakpoint($medium 800px) {
					line-height: 1.1em;
					max-height: 3.3em;
				}
				@include breakpoint($medium 800px) {
					font-size: 1em;
				}
			}
			.views {
				position: absolute;
				color: $cinza;
				bottom: 0;
				@include breakpoint($medium 800px) {
					font-size: 12px;
				}
				span {
					vertical-align: middle;
				}
			}
			.bt-ico-views {
				background-position: 0 -24px;
			}
			@include breakpoint($medium 800px) {
				.bt-ico-views {
					width: 18px;
					height: 18px;
					background-size: 70px;
				}
				.bt-ico-views {
					background-position: 0 -17px;
				}
			}
		}
	}
}
.content-button {
	position: relative;
	margin-top: 3.5%;
	.loader {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: url(../img/loading.gif) no-repeat center;
		background-color: rgba(255,255,255,0.9); 
		display: none;
		&.active {
			display: block;
		}
	}
}
.wide-button {
	text-transform: uppercase;
	width: 100%;
	height: 2.2em;
	border: 1px solid #CCC;
	background: #FFF;
	border-radius: .4em;
	font-size: 11px;
	outline: none;
	cursor: pointer;
	&:hover {
		background-color: #797979;
		color: #FFF;
	}
}
.clear {
	clear: both;
}
.overlay {
	background-color: rgba(255, 255, 255, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 19;
}
.modal {
	position: fixed;
	z-index: 20;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #FFF;
	& > div {
		margin: 1em;
	}
	.barra-modal {
		height: 10%;
		box-sizing: border-box;
		margin: 0;
		padding: 1em;
		.bt-fecha-modal {
			color: #DD0000;
			cursor: pointer;
			width: 15px;
			height: 15px;
			float: right;
			margin: .4em 0 0 0;
			background-image: url(../img/close.png);
			background-repeat: no-repeat;
			background-position: -3px -3px;
			&:hover {
				background-position: -23px -3px;
			}
		}
	}
	.content-modal {
		overflow-y: auto;
		width: 100%;
	    height: 87%;
	    box-sizing: border-box;
	    margin: 0;
	    padding: 1em;
	}
	.viewsdate {
		float: right;
	}
}
.titulo-modal {
	color: $cor-padrao;
}

.viewsdate {
	float: right;
}