.videos {
	.content-button {
	    margin-top: 0;
		margin: 0 auto;
		button {
			width: 100%;
		}
	}
}
.lista-videos {
	li {
		@include gallery(12 of 12);
		float: none;
		margin: 0 0 15px 0;
	}
}
.if-video-modal {
	position: relative;
	height: 0;
	padding-bottom: 56%;
	iframe {
		width: 100%;
		height: 100%;
		position: absolute;
		box-size: border-box;
	}
}
