@import url(https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,700);
body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px; }

*::selection {
  background-color: #A8385C;
  color: #FFF; }

header *::selection {
  background-color: #77203C;
  color: #FFF; }

header {
  background-color: #A8385C;
  color: #FFF;
  position: relative;
  z-index: 18; }
  header .wrap {
    padding-top: 8px;
    padding-bottom: 8px; }

.wrap {
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .wrap:after {
    content: " ";
    display: block;
    clear: both; }

.clear-all {
  clear: both;
  margin-bottom: 20px; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

a {
  color: inherit;
  text-decoration: none; }

h1.titulo {
  font-size: 2.5em;
  color: #A8385C;
  font-weight: 300; }

.box {
  border: 1px solid #C8C8C8;
  box-sizing: border-box; }

.box > div {
  margin: 12px; }

.bt-ico-views,
.bt-ico-date {
  width: 24px;
  height: 24px;
  background-image: url("../img/assets.png");
  background-repeat: no-repeat;
  display: inline-block;
  margin: 0 2px; }

.bt-ico-date {
  background-position: -25px 0; }

.tooltp {
  font-weight: 400; }

.link-logo {
  max-width: 50%;
  display: inline-block; }
  .link-logo img {
    max-width: 100%; }

#menubar {
  width: 100%; }
  #menubar > div {
    margin-left: 1em;
    display: inline-block;
    vertical-align: middle; }
  #menubar .busca {
    float: right;
    width: 65%; }
  #menubar .bt-busca .ico, #menubar .bt-menu .ico {
    width: 24px;
    height: 24px;
    background-image: url("../img/assets.png");
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0 2px; }
  #menubar .bt-busca {
    border: 1px solid transparent;
    border-radius: 4px;
    position: relative;
    padding: .3em .2em .3em .4em; }
    #menubar .bt-busca.active {
      border-color: #FFF;
      background: rgba(0, 0, 0, 0.1); }
    #menubar .bt-busca #input-busca, #menubar .bt-busca .ico {
      display: inline-block;
      vertical-align: middle; }
    #menubar .bt-busca #input-busca {
      width: 100%;
      padding-right: 30px;
      box-sizing: border-box;
      background: transparent;
      border: none;
      outline: none;
      margin-left: .2em;
      color: #FFF;
      font-weight: 200;
      font-size: 15px;
      font-family: 'Titillium Web', sans-serif; }
      #menubar .bt-busca #input-busca::selection {
        background-color: #77203C; }
    #menubar .bt-busca .ico {
      background-position: -72px -24px;
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -12px; }
  #menubar .bt-menu {
    height: 35px;
    line-height: 32px;
    cursor: pointer; }
    #menubar .bt-menu.active {
      opacity: 0.65; }
    #menubar .bt-menu span {
      display: inline-block;
      vertical-align: middle; }
    #menubar .bt-menu .ico {
      background-position: -48px 0; }
  #menubar #menu {
    position: relative;
    float: right; }
  #menubar .submenu {
    position: absolute;
    background-color: #FFF;
    border: 1px solid #C8C8C8;
    border-radius: 6px;
    color: #555;
    padding: .5em;
    top: 43px;
    right: -6px;
    width: 160px; }
    #menubar .submenu:before {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 9px 10px 9px;
      border-color: transparent transparent #ffffff transparent;
      position: absolute;
      top: -10px;
      right: 10px; }
    #menubar .submenu .ico-destaques, #menubar .submenu .ico-videos {
      width: 24px;
      height: 24px;
      background-image: url("../img/assets.png");
      background-repeat: no-repeat;
      display: inline-block;
      margin: 0 2px; }
    #menubar .submenu .ico-destaques {
      background-position: -48px -24px; }
    #menubar .submenu .ico-videos {
      background-position: -72px 0; }
    #menubar .submenu li a {
      padding: 0 .5em;
      display: block;
      line-height: 2.5em;
      border-radius: 6px; }
      #menubar .submenu li a i {
        font-style: normal;
        display: inline-block;
        vertical-align: middle; }
      #menubar .submenu li a:hover {
        background-color: #EEE; }

.vlist li {
  list-style: none;
  overflow: hidden;
  margin: 0 0 6% 0;
  position: relative; }
  .vlist li:last-child {
    margin-bottom: 0; }
  .vlist li .wrap-img {
    width: 48.97959%;
    float: left;
    margin-right: 2.04082%;
    position: relative;
    overflow: hidden;
    cursor: pointer; }
    .vlist li .wrap-img.active:before {
      display: none; }
    .vlist li .wrap-img:hover:before {
      display: none; }
    .vlist li .wrap-img:before {
      content: "";
      background-color: rgba(255, 255, 255, 0.3);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 2; }
    .vlist li .wrap-img img {
      max-width: 100%;
      float: left; }
  .vlist li .duration {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #FFF;
    padding: .2em .5em;
    font-size: 10px; }
  .vlist li .desc-video {
    width: 48.97959%;
    float: right;
    margin-right: 0; }
    .vlist li .desc-video .titulo-video {
      font-weight: normal;
      line-height: 1.2em;
      color: #A8385C;
      margin: 0 0 5px 0;
      max-height: 3.6em;
      overflow: hidden;
      font-size: 1.17em;
      cursor: pointer; }
      .vlist li .desc-video .titulo-video:hover {
        text-decoration: underline; }
      @media (min-width: 681px) and (max-width: 800px) {
        .vlist li .desc-video .titulo-video {
          line-height: 1.1em;
          max-height: 3.3em; } }
      @media (min-width: 681px) and (max-width: 800px) {
        .vlist li .desc-video .titulo-video {
          font-size: 1em; } }
    .vlist li .desc-video .views {
      position: absolute;
      color: #c8c8c8;
      bottom: 0; }
      @media (min-width: 681px) and (max-width: 800px) {
        .vlist li .desc-video .views {
          font-size: 12px; } }
      .vlist li .desc-video .views span {
        vertical-align: middle; }
    .vlist li .desc-video .bt-ico-views {
      background-position: 0 -24px; }
    @media (min-width: 681px) and (max-width: 800px) {
      .vlist li .desc-video .bt-ico-views {
        width: 18px;
        height: 18px;
        background-size: 70px; }
      .vlist li .desc-video .bt-ico-views {
        background-position: 0 -17px; } }

.content-button {
  position: relative;
  margin-top: 3.5%; }
  .content-button .loader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../img/loading.gif) no-repeat center;
    background-color: rgba(255, 255, 255, 0.9);
    display: none; }
    .content-button .loader.active {
      display: block; }

.wide-button {
  text-transform: uppercase;
  width: 100%;
  height: 2.2em;
  border: 1px solid #CCC;
  background: #FFF;
  border-radius: .4em;
  font-size: 11px;
  outline: none;
  cursor: pointer; }
  .wide-button:hover {
    background-color: #797979;
    color: #FFF; }

.clear {
  clear: both; }

.overlay {
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 19; }

.modal {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF; }
  .modal > div {
    margin: 1em; }
  .modal .barra-modal {
    height: 10%;
    box-sizing: border-box;
    margin: 0;
    padding: 1em; }
    .modal .barra-modal .bt-fecha-modal {
      color: #DD0000;
      cursor: pointer;
      width: 15px;
      height: 15px;
      float: right;
      margin: .4em 0 0 0;
      background-image: url(../img/close.png);
      background-repeat: no-repeat;
      background-position: -3px -3px; }
      .modal .barra-modal .bt-fecha-modal:hover {
        background-position: -23px -3px; }
  .modal .content-modal {
    overflow-y: auto;
    width: 100%;
    height: 87%;
    box-sizing: border-box;
    margin: 0;
    padding: 1em; }
  .modal .viewsdate {
    float: right; }

.titulo-modal {
  color: #A8385C; }

.viewsdate {
  float: right; }

.destaque {
  /* Tells Susy there's 4 columns in the sidebar, and its the last item on the row. */ }
  .destaque .em-destaque {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
    .destaque .em-destaque .video-destaque {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 54%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #000; }
      .destaque .em-destaque .video-destaque img, .destaque .em-destaque .video-destaque iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
  .destaque .mais-videos-sidebar {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
    .destaque .mais-videos-sidebar .box {
      height: 0;
      padding-bottom: 134%;
      overflow: hidden; }
    .destaque .mais-videos-sidebar .box > div {
      margin: 4%; }
    .destaque .mais-videos-sidebar .scroll {
      height: 0;
      padding-bottom: 126%;
      overflow: hidden;
      position: relative; }
      .destaque .mais-videos-sidebar .scroll.active {
        width: 103%; }
        .destaque .mais-videos-sidebar .scroll.active .scroller {
          overflow-y: scroll;
          padding-right: 1%; }
      .destaque .mais-videos-sidebar .scroll .scroller {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute; }
    .destaque .mais-videos-sidebar .mais-videos {
      width: 96%; }
  .destaque .card-video-destaque {
    margin-top: 4%; }
    .destaque .card-video-destaque .box {
      height: 0;
      padding-bottom: 29.8%; }
      .destaque .card-video-destaque .box.active {
        height: auto;
        padding-bottom: 0; }
    .destaque .card-video-destaque .box > div {
      margin: 15px 15px 10px 15px; }
    .destaque .card-video-destaque .titulo-video-destaque {
      font-weight: normal;
      line-height: 1.2em;
      height: 1.2em;
      overflow: hidden;
      font-size: 1.3em;
      color: #A8385C;
      margin: 0 0 3% 0;
      cursor: pointer; }
      .destaque .card-video-destaque .titulo-video-destaque.active {
        height: auto; }
    .destaque .card-video-destaque .desc-video-destaque {
      height: 0;
      padding-bottom: 18%;
      position: relative;
      overflow: hidden;
      cursor: pointer; }
      .destaque .card-video-destaque .desc-video-destaque.active {
        height: auto;
        padding-bottom: 0; }
        .destaque .card-video-destaque .desc-video-destaque.active:before {
          display: none; }
      .destaque .card-video-destaque .desc-video-destaque:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.45) 0%, white 100%);
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.45) 0%, white 100%);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.45) 0%, white 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73ffffff', endColorstr='#ffffff',GradientType=0 ); }

.videos .content-button {
  margin-top: 0;
  margin: 0 auto; }
  .videos .content-button button {
    width: 100%; }

.lista-videos li {
  width: 100%;
  float: left;
  float: none;
  margin: 0 0 15px 0; }
  .lista-videos li:nth-child(1n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: none; }

.if-video-modal {
  position: relative;
  height: 0;
  padding-bottom: 56%; }
  .if-video-modal iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    box-size: border-box; }
