@media (min-width: 681px) {
  body {
    font-size: 14px; }
  .modal {
    position: fixed;
    z-index: 20;
    top: 10%;
    left: 50%;
    width: 560px;
    height: auto;
    margin-left: -280px; }
    .modal .content-modal {
      overflow: hidden; }
  .destaque .em-destaque {
    width: 59.18367%;
    float: left;
    margin-right: 2.04082%; }
  .destaque .mais-videos-sidebar {
    width: 38.77551%;
    float: right;
    margin-right: 0; }
  .lista-videos li {
    width: 49.15254%;
    float: left;
    margin: 0 0 15px 0; }
    .lista-videos li:nth-child(2n + 1) {
      margin-left: 0;
      margin-right: -100%;
      clear: both;
      margin-left: 0; }
    .lista-videos li:nth-child(2n + 2) {
      margin-left: 50.84746%;
      margin-right: -100%;
      clear: none; } }
