@media (min-width: 1001px) {
  .lista-videos li {
    width: 32.20339%;
    float: left;
    margin: 0 0 15px 0; }
    .lista-videos li:nth-child(3n + 1) {
      margin-left: 0;
      margin-right: -100%;
      clear: both;
      margin-left: 0; }
    .lista-videos li:nth-child(3n + 2) {
      margin-left: 33.89831%;
      margin-right: -100%;
      clear: none; }
    .lista-videos li:nth-child(3n + 3) {
      margin-left: 67.79661%;
      margin-right: -100%;
      clear: none; } }
